
.vs/GaussianFPOOP/project-colors.json

.vs/GaussianFPOOP/v17/.suo

.vs/GaussianFPOOP/v17/Preview/Browse.VC.db

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/140f227581b99272/OOP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/35ee01f595cfbcee/TEST.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/437e77c0b6a5d8f7/PIXELS.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/43af833aea8204e3/OOP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/4702c120fa25bf0d/FP_GAUSSIAN.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/53b6c04c7c815882/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/69220b02806b8de9/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/69b357f66677ef8b/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/6d897d3ff39b8e10/PIXELS.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/7079e6096915512e/FP_GAUSSIAN.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/864e2ac3bc48d080/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/8bd9566bc6c04804/FP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/9b31c328f77022f8/OOP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/a608bfc15684841/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/b25a679ff719231f/FP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/b62cb359225d256d/SOURCE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/b9f1d545e249e3d/DEBUGGER_JMC.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/c340627cba3a67dc/FP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/c5684f978e32452a/PIXELS.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/c5eb0b5234a8a829/FP_IMAGE.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/d14b29b4232c035e/TEST.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/fc52dffa93f74b01/PIXELS.ipch

.vs/GaussianFPOOP/v17/Preview/ipch/AutoPCH/ff0bd682f77245f2/FP_IMAGE.ipch

Debug/FP_Image.obj

Debug/GaussianFPOOP.Build.CppClean.log

Debug/GaussianFPOOP.exe

Debug/GaussianFPOOP.exe.recipe

Debug/GaussianFPOOP.ilk

Debug/GaussianFPOOP.log

Debug/GaussianFPOOP.pdb

Debug/GaussianFPOOP.tlog/CL.command.1.tlog

Debug/GaussianFPOOP.tlog/CL.read.1.tlog

Debug/GaussianFPOOP.tlog/CL.write.1.tlog

Debug/GaussianFPOOP.tlog/GaussianFPOOP.lastbuildstate

Debug/GaussianFPOOP.tlog/link.command.1.tlog

Debug/GaussianFPOOP.tlog/link.read.1.tlog

Debug/GaussianFPOOP.tlog/link.write.1.tlog

Debug/GaussianFPOOP.vcxproj.FileListAbsolute.txt

Debug/image.jpg

Debug/image.xmp

Debug/OOP_Image.obj

Debug/Source.obj

Debug/vc142.idb

Debug/vc142.pdb

FP_blurred.jpg

Gaussian.smp

GaussianFPOOP.sln

GaussianFPOOP.vcxproj

GaussianFPOOP.vcxproj.filters

GaussianFPOOP.vcxproj.user

image.jpg

OOP_blurred.jpg

Release/FP_Image.obj

Release/GaussianFPOOP.exe

Release/GaussianFPOOP.exe.recipe

Release/GaussianFPOOP.iobj

Release/GaussianFPOOP.ipdb

Release/GaussianFPOOP.log

Release/GaussianFPOOP.pdb

Release/GaussianFPOOP.tlog/CL.command.1.tlog

Release/GaussianFPOOP.tlog/CL.read.1.tlog

Release/GaussianFPOOP.tlog/CL.write.1.tlog

Release/GaussianFPOOP.tlog/GaussianFPOOP.lastbuildstate

Release/GaussianFPOOP.tlog/GaussianFPOOP.write.1u.tlog

Release/GaussianFPOOP.tlog/link.command.1.tlog

Release/GaussianFPOOP.tlog/link.read.1.tlog

Release/GaussianFPOOP.tlog/link.write.1.tlog

Release/GaussianFPOOP.vcxproj.FileListAbsolute.txt

Release/OOP_Image.obj

Release/Source.obj

Release/vc142.pdb

stb/

x64/Debug/CodeAnalysisResultManifest.txt

x64/Debug/FP_Image.nativecodeanalysis.sarif

x64/Debug/FP_Image.nativecodeanalysis.xml

x64/Debug/FP_Image.obj

x64/Debug/GaussianFPOOP.Build.CppClean.log

x64/Debug/GaussianFPOOP.exe

x64/Debug/GaussianFPOOP.exe.recipe

x64/Debug/GaussianFPOOP.ilk

x64/Debug/GaussianFPOOP.log

x64/Debug/GaussianFPOOP.pdb

x64/Debug/GaussianFPOOP.tlog/CL.command.1.tlog

x64/Debug/GaussianFPOOP.tlog/CL.read.1.tlog

x64/Debug/GaussianFPOOP.tlog/CL.write.1.tlog

x64/Debug/GaussianFPOOP.tlog/GaussianFPOOP.lastbuildstate

x64/Debug/GaussianFPOOP.tlog/link.command.1.tlog

x64/Debug/GaussianFPOOP.tlog/link.read.1.tlog

x64/Debug/GaussianFPOOP.tlog/link.write.1.tlog

x64/Debug/GaussianFPOOP.vcxproj.FileListAbsolute.txt

x64/Debug/OOP_Image.nativecodeanalysis.sarif

x64/Debug/OOP_Image.nativecodeanalysis.xml

x64/Debug/OOP_Image.obj

x64/Debug/pixels.nativecodeanalysis.sarif

x64/Debug/pixels.nativecodeanalysis.xml

x64/Debug/pixels.obj

x64/Debug/Source.nativecodeanalysis.sarif

x64/Debug/Source.nativecodeanalysis.xml

x64/Debug/Source.obj

x64/Debug/vc.nativecodeanalysis.all.xml

x64/Debug/vc142.idb

x64/Debug/vc142.pdb

x64/Release/CodeAnalysisResultManifest.txt

x64/Release/FP_Image.nativecodeanalysis.sarif

x64/Release/FP_Image.nativecodeanalysis.xml

x64/Release/FP_Image.obj

x64/Release/GaussianFPOOP.Build.CppClean.log

x64/Release/GaussianFPOOP.exe

x64/Release/GaussianFPOOP.exe.recipe

x64/Release/GaussianFPOOP.iobj

x64/Release/GaussianFPOOP.ipdb

x64/Release/GaussianFPOOP.log

x64/Release/GaussianFPOOP.pdb

x64/Release/GaussianFPOOP.tlog/CL.command.1.tlog

x64/Release/GaussianFPOOP.tlog/CL.read.1.tlog

x64/Release/GaussianFPOOP.tlog/CL.write.1.tlog

x64/Release/GaussianFPOOP.tlog/GaussianFPOOP.lastbuildstate

x64/Release/GaussianFPOOP.tlog/GaussianFPOOP.write.1u.tlog

x64/Release/GaussianFPOOP.tlog/link.command.1.tlog

x64/Release/GaussianFPOOP.tlog/link.read.1.tlog

x64/Release/GaussianFPOOP.tlog/link.write.1.tlog

x64/Release/GaussianFPOOP.vcxproj.FileListAbsolute.txt

x64/Release/OOP_Image.nativecodeanalysis.sarif

x64/Release/OOP_Image.nativecodeanalysis.xml

x64/Release/OOP_Image.obj

x64/Release/pixels.nativecodeanalysis.sarif

x64/Release/pixels.nativecodeanalysis.xml

x64/Release/pixels.obj

x64/Release/Source.nativecodeanalysis.sarif

x64/Release/Source.nativecodeanalysis.xml

x64/Release/Source.obj

x64/Release/vc.nativecodeanalysis.all.xml

x64/Release/vc142.pdb
